#header 
 | Welcome to example.jade
ul.menu
  block menu
    li 
      a layout
    li 
      a example
.content
  block content 
    div
      p This is the default page 
#footer 
  | Copyright notice and extra links here

